/* CSS Document */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
 	background:##F5F5F0; 
	text-align:center;
	margin:20px;
	padding:0;
	font:normal 0.8em/1.2em verdana,aria,sans-serif;
/* 	color:#666; */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: moz-none;
	-ms-user-select: none;
	user-select: none;
}

a {
	color:#FFF;
	text-decoration:none;
	border-bottom:1px dotted;
}
	
a:hover {
	border-bottom:1px solid;
/* 	color:#9343B9; */
}
	
#wrapper1 {
	position:relative;
	text-align:left;
	width:100%;
}
	
#wrapper2 {
	position:relative;
	text-align:left;
	width:100%;
}
	
#header {
	padding:10px;
	margin:0;
	text-align:center;
	background: #00628B;
	border-radius: 10px;
	box-shadow: 0px 5px 6px #999;
/* 	color:#FFF; */
}
	
div#header h1{
   padding:0.4em;
   padding-left: 1em;
   line-height: 1em;
   color: #DFDFDF;
   text-shadow: 4px 4px 3px #000;
}
	
#header a:hover {
/* 	color:#7A2875; */
}
	
#maincol {
	position:relative;
	margin:0;
	padding:10px;
}
	
#leftcol { 
	position:relative;
	top:-10px;
	left:-10px;
	float:left;
	width:220px;  /* for IE5/WIN */
	voice-family: "\"}\"";
	voice-family:inherit;
	width:200px; /* actual value */
	margin:0 0 -10px 0;
	padding:10px;
	margin-bottom:20px;
	z-index:100;
	min-height: 500px;
	box-shadow: 5px 5px 5px #888888;
	overflow: auto;
	background: -webkit-radial-gradient(white, lightgrey);	/* For Safari 5.1 to 6.0 */
	background: -o-radial-gradient(white, lightgrey); 			/* For Opera 11.1 to 12.0 */
	background: -moz-radial-gradient(white, lightgrey); 		/* For Firefox 3.6 to 15 */
	background: radial-gradient(white, lightgrey); 					/* Standard syntax */
}


#rightcol {
	position:relative;
	top:-10px;
	right:-10px;
	float:right;
	width:220px;  /* for IE5/WIN */
	voice-family: "\"}\"";
	voice-family:inherit;
	width:200px; /* actual value */
	margin:0 0 -10px 0;
	padding:10px;
	z-index:99;
	height: 50%;
	min-height: 500px;
	border: 2px solid;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	box-shadow: 5px 5px 5px #888888;
	overflow: auto;
	background: -webkit-radial-gradient(white, lightgrey);	/* For Safari 5.1 to 6.0 */
  background: -o-radial-gradient(white, lightgrey); 			/* For Opera 11.1 to 12.0 */
  background: -moz-radial-gradient(white, lightgrey); 		/* For Firefox 3.6 to 15 */
  background: radial-gradient(white, lightgrey); 					/* Standard syntax */
}
	
#centercol {
	position:relative;
	padding:0 240px;
/* 	padding-left:240px; */
}

#centercol a {
	color:#666;
}

#centercol a:hover {
	border-bottom:1px solid;
/* 	color:#9343B9; */
}

#footer {
	position:relative;
	top:1px;
	width:100%;
	clear:both;
	margin:0;
	padding:1% 0;
	text-align:center;
	background: #00628B;
	border-radius: 10px;
	box-shadow: 0px 5px 6px #999;
/* 	color:#CCC; */
} 
	
.divfloat{
  display: inline-block;
  vertical-align:bottom;
  width: 49%;
  background:lightgray;
  height: 200px;
  margin:2px;
  border: 1px solid black;
}

.divplot {

}

.hasDatePicker {
	max-width: 150px;
}

.ui-resizable-helper { border: 2px dotted #00F; }
/**
 * Message CSS for dnd popup
 */
.msg {
  margin: 0px;
  border: solid 1px #CCC;
  background: #EEE;
  min-width: 150px;
  z-index: 99999;
}

.msg ul {
    padding: 0px;
    margin: 0px;
}
.msg h2{
  font-size: 14pt;
  color: black;
}

.msg li {
    list-style: none;
    margin: 0px;
}

.msg a {
    color: #333;
    text-decoration: none;
    display: block;
    line-height: 20px;
    height: 20px;
    background-position: 6px center;
    background-repeat: no-repeat;
    outline: none;
    padding: 1px 5px;
    padding-left: 28px;
    cursor:pointer;
    text-align:left;
}

.msg li:hover a{
    color: #FFF;
    background-color: #3399FF;
}

.msg li.separator {
    border-top: solid 1px #CCC;
}

